name: Dobby Builder

on:
  push:
    branches:
      - master
  workflow_dispatch:

env:
  CMAKE_VERSION: 3.22.1
  NDK_VERSION: 25.2.9519653

jobs:
  delete_latest_release:
    runs-on: ubuntu-latest
    permissions: # 显式声明权限，解决 Token 报错
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Delete Latest Release
      uses: dev-drprasad/delete-tag-and-release@v1.1
      with:
        delete_release: true
        tag_name: latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # 使用内置令牌即可

  android:
    runs-on: ubuntu-latest
    needs: delete_latest_release
    permissions:
      contents: write
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        submodules: recursive # Dobby 依赖子模块

    - name: Set up NDK
      uses: nwidger/setup-android-ndk@v1
      with:
        ndk-version: ${{ env.NDK_VERSION }}

    - name: Build Dobby for Android
      run: |
        mkdir -p build_android_arm64
        cd build_android_arm64
        cmake .. \
          -DCMAKE_TOOLCHAIN_FILE=$ANDROID_NDK_HOME/build/cmake/android.toolchain.cmake \
          -DANDROID_ABI=arm64-v8a \
          -DANDROID_PLATFORM=android-23 \
          -DDVM_SUPPORT=ON
        make -j$(nproc)
        
        # 整理产物
        mkdir -p ../dist/android/arm64-v8a
        cp libdobby.a ../dist/android/arm64-v8a/
        cp ../include/dobby.h ../dist/android/
      shell: bash

    - name: Archive and Upload
      uses: ncipollo/release-action@v1
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        tag: latest
        artifacts: "dist/android/arm64-v8a/libdobby.a,dist/android/dobby.h"
        allowUpdates: true
        replacesArtifacts: true
